@model IEnumerable<DespesasAutomotivas.Models.Carro>

@{
    ViewData["Title"] = "Listagem";
}

<h1>Listagem - Carro</h1>

<div class="d-flex justify-content-end mb-3">
    <a asp-action="Create" class="btn btn-success">Criar Nova</a>
</div>

<table class="table table-bordered">
    <thead class="table-light">
        <tr>
            <th>Ações</th>
            <th> @Html.DisplayNameFor(model => model.Nome)</th>
            <th>@Html.DisplayNameFor(model => model.Modelo)</th>
            <th> @Html.DisplayNameFor(model => model.Marca)</th>
            <th>@Html.DisplayNameFor(model => model.Ano)</th>
            <th>@Html.DisplayNameFor(model => model.Versao)</th>
            <th> @Html.DisplayNameFor(model => model.Quilometragem)</th>
            <th>@Html.DisplayNameFor(model => model.Placa)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-warning text-white">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Excluir</a>
                </td>
                <td> @Html.DisplayFor(modelItem => item.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.Modelo)</td>
                <td>@Html.DisplayFor(modelItem => item.Marca)</td>
                <td>@Html.DisplayFor(modelItem => item.Ano)</td>
                <td>@Html.DisplayFor(modelItem => item.Versao)</td>
                <td>@Html.DisplayFor(modelItem => item.Quilometragem)</td>
                <td>@Html.DisplayFor(modelItem => item.Placa)</td>
            </tr>
        }
    </tbody>
</table>
